# Ignore native build and config files in language stats
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.cmake linguist-detectable=false
*.gradle linguist-detectable=false
CMakeLists.txt linguist-detectable=false

# Ensure Dart is properly detected
*.dart linguist-detectable=true
